*.db	binary
*.a	binary
*.o	binary
*.py[co]	binary
*.so	binary
*.sw[nop]	binary
.xvpics	binary
*.pdf	binary
*.od[pst]	binary
*.sxw	binary
*.wpd	binary
*.doc	binary
*.ppt	binary
*.xls	binary
*.avi	binary
*.swf	binary
*.svg	binary
*.ico	diff=exif
*.gif	diff=exif
*.tif	diff=exif
*.jpg	diff=exif
*.png	diff=exif
*.xbm	binary
*.xcf	binary
*.mpg	binary
*.mov	binary
*.mp3	binary
*.ogg	binary
*.gz	binary
*.tgz	binary
*.bz2	binary
*.zip	binary
*.rpm	binary
*.deb	binary
*.hqx	binary
*.spo	binary
*.db	binary
*.mdb	binary
*.djvu	binary
*.fig	binary
*.egg	binary
